* {
    margin: 0;
    padding: 0;
}

h1 {
    display: flex;
    background-color: blue;
    margin-bottom: 30px;
    color: white;
    height: 100px;
    justify-content: center;
    align-items: center;
}

li a {
    text-decoration: none;
    
}