{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/dist/styles.css' %}">
    <title>Document</title>
</head>
<body>
    <h1 class="text-6xl">Header</h1>
    <ul>
        <!-- 1st method to give link -->
        <li><a href="/" class="{% if request.path == '/' %} active {% endif %} ">Home</a></li>
        <!-- <li><a href="/contact/" class="{% if request.path == '/contact/' %} active {% endif %} ">Contact</a></li> -->
        <!-- 2nd method to give link -->
        <!-- <li><a href="{% url 'abc' %}" class="{% if request.path == '/about/' %} active {% endif %}">About</a></li> -->
    </ul>
</body>
</html>